<%= render 'shared/breadcrumb', links: [
  [t('crud.action.home'), root_path],
  [t('activerecord.models.income.other')],
] %>

<h3 class="page-title"><%= t('activerecord.models.income.other') %></h3>

<div class="page-card">
  <div class="page-card-body">

    <%= render 'shared/table_wrapper' do %>

      <table class="page-table">
        <thead class="bg-gray-50">
          <tr>
            <th class="page-th"><%= t('activerecord.attributes.income.name') %></th>
            <th class="page-th"><%= t('activerecord.attributes.income.payday') %></th>
            <th class="page-th"><%= t('activerecord.attributes.income.description') %></th>
            <th class="page-th"><%= t('activerecord.attributes.income.amount') %></th>
            <th width="18%" class="page-th-btn"><%= btn_new(new_income_path) %></th>
          </tr>
        </thead>

        <tbody class="bg-white divide-y divide-gray-200">
          <% cache @incomes do %>
            <% @incomes.each do |income| %>
              <% cache income do %>
                <tr id="<%= dom_id income %>">
                  <td class="page-td"><%= income.name %></td>
                  <td class="page-td"><%= l(income.payday) %></td>
                  <td class="page-td"><%= sanitize(income.description) %></td>
                  <td class="page-td"><%= number_to_currency(income.amount) %></td>
                  <td class="page-td text-right">
                    <div class="inline-block"><%= btn_show(income) %></div>
                    <div class="inline-block mr-4 ml-4"><%= btn_edit(edit_income_path(income)) %></div>
                    <div class="inline-block"><%= btn_destroy(income_path(income)) %></div>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>

    <% end %>
  </div>
</div>
