<%= render 'shared/breadcrumb', links: [
  ['Início', root_path],
  ['Incomes'],
] %>

<h3 class="text-gray-700 text-3xl mb-2 font-medium">Incomes</h3>

<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
<% end %>

<div class="shadow-sm sm:rounded-md sm:overflow-hidden">
  <div class="p-0 bg-white space-y-6">

    <div class="-mb-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="pb-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden border-b border-gray-200 sm:rounded-lg">

          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Payday</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Description</th>
                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Amount</th>
                <th width="18%" class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider text-right pr-2">
                  <%= link_to new_income_path, class: 'inline-flex justify-center py-1 px-1 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-400 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 p-1 px-3 font-normal text-xs' do %>
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
                    </svg>
                    <span class="mx-2 my-1 hidden xl:block">New Incomes</span>
                  <% end %>
                </th>
              </tr>
            </thead>

            <tbody class="bg-white divide-y divide-gray-200">
              <% cache @incomes do %>
                <% @incomes.each do |income| %>
                  <% cache income do %>
                    <tr id="<%= dom_id income %>">
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= income.name %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= income.payday %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= sanitize(income.description) %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><%= number_to_currency(income.amount) %></td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-right">
                        <div class="inline-block">
                          <%= link_to income, class: 'text-indigo-600', title: 'Show' do %>
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"></path>
                            </svg>
                          <% end %>
                        </div>

                        <div class="inline-block mr-4 ml-4">
                          <%= link_to edit_income_path(income), class: 'text-indigo-600', title: 'Edit' do %>
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path>
                            </svg>
                          <% end %>
                        </div>

                        <div class="inline-block">
                          <%= button_to income_path(income), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'text-indigo-600', title: 'Destroy'  do %>
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                            </svg>
                          <% end %>
                        </div>
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>
</div>
