<%= render 'shared/breadcrumb', links: [
  ['Início', root_path],
  ['Incomes', incomes_path],
] %>

<h3 class="text-gray-700 text-3xl mb-2 font-medium">Income</h3>

<div class="shadow-sm sm:rounded-md sm:overflow-hidden">
  <div class="p-4 bg-white space-y-6">
    <p><strong>Name:</strong><br><%= @income.name %></p>
    <p><strong>Payday:</strong><br><%= @income.payday %></p>
    <p><strong>Description:</strong><br><%= sanitize(@income.description) %></p>
    <p><strong>Amount:</strong><br><%= number_to_currency(@income.amount) %></p>
  </div>
</div>
